.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

.site-header{
    background:white;
    color:#9B50B5;
    padding:10px 5%;
    box-shadow: 0 1px 3px #999;
}

.site-header h1{
   font-family: 'Calligraffitti', cursive;
   font-size:30px;
   float: left;
}

.site-header img{
   float: left;
   margin-right:10px;
   margin-top:1%;
}

.main-nav{
    margin-top:1%;
    float:right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
}

.main-nav ul{
   list-style:none;
   padding:0;
   margin:0;
}

 .main-nav ul li a{
    text-decoration:none;
    color: #9B50B5;
 }

.intro-text{
    font-size:18px;
}


.column-wrapper{
    width:90%;  
    margin: 0 auto;  
}

.main-col{
   float:left;
   width:70%;
   font-family: 'Poiret One', cursive;
}

.sidebar-col{
   background:#ECE8E8;
   color: black;
   font-family: 'Open Sans Condensed', sans-serif;
   float:right;
   width:25%;
   padding:20px 2.5%;
}

.main-footer{
    background:#9B50B5;
    font-family: 'Open Sans Condensed', sans-serif;
    color:white;
    padding: 10px 5%;
}

.main-footer a{
    color:white;
    font-size:12px;
}
.copyright{
    text-align:center;
    float:left;
    font-size:20px;
}

.footer-nav{
    list-style:none;
    text-align:center;
    float:right;
}

.footer-nav li{
    display:inline;
}

.footer-nav li + li{
    margin-left:10px; 
 }

